@model SoccerSolutionsApp.Web.ViewModels.Main.MainPageLeaguesListingViewModel

@using SoccerSolutionsApp.Common;

@{
    this.ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName</h1>

</div>



<div class="">
    <div>

    </div>
    <div class="row">
        <div class="col-md-8 ">
            <nav>


                @if (Model.CurrentPage > 1)
                {
                    <a style="float:left; color:#000000; margin-top:5px;" asp-controller="Home" asp-action="Index" asp-route-page="@(Model.CurrentPage - 1)"><i class="fas fa-angle-double-left"></i> Previous</a>
                }
                @if (Model.CurrentPage < Model.PagesCount)
                {
                    <a style="float:right; color:#000000;" asp-controller="Home" asp-action="Index" asp-route-page="@(Model.CurrentPage + 1)">Next  <i class="fas fa-angle-double-right"></i></a>
                }
            </nav>
            <table class="table">
                @foreach (var league in Model.Leagues)
                {
                    <thead class="thead-dark" style="border-bottom-style: solid;">
                        <tr class="leaguesmain" asp-controller="Leagues" asp-action="ById" asp-route-id="@league.Id" onclick="showFixtures(@league.Id)">
                            <th scope="row">
                                <i class="@league.CountryName.ToLower() flag"></i>
                                <span>@league.CountryName - @league.Name</span>
                                <a asp-controller="Leagues" asp-action="ById"><i class="fas fa-arrow-alt-circle-right float-right" style="color:#ffffff"></i></a>
                                @*
                                *@
                            </th>
                        </tr>
                    </thead>
                    @if (league.NextFixturesForLeague != null)
                    {
                        <tbody>
                            @foreach (var fixtures in league.NextFixturesForLeague)
                            {
                                <tr class=" @league.Id row-cols-1" 
                                    style="display:none; border-bottom-style:groove; border-bottom-color: #f03d3d;">
                                    <th scope="col"></th>
                                    <td class="middle1" style="width:40%; text-align:right;">
                                    <a style="color: #212529;" asp-controller="Teams" asp-action="ById" asp-route-teamId="@fixtures.HomeTeamId">@fixtures.HomeTeamName</a>
                                    </td>
                                    <td class="middle" style="width:20%; text-align:center;">@fixtures.StatusShort.ToUpper()</td>
                                    <td class="middle1" style="width:40%; text-align:left">
                                    <a style="color: #212529;" asp-controller="Teams" asp-action="ById" asp-route-teamId="@fixtures.AwayTeamId">@fixtures.AwayTeamName</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    }


                }
            </table>
        </div>
        <partial name="_CalendarDataPicker.cshtml" model="new SoccerSolutionsApp.Web.ViewModels.Fixtures.FixturesByDateInputModel()" />
    </div>
</div>

@section Scripts {
    <script>
        function showFixtures(id) {
            if ($('.' + id).css('display') === 'none') {

                $('.' + id).show();
                $('.' + id).css('display', 'block');

            }
            else {
                $('.' + id).hide();
                $('.' + id).css('display', 'none');
            }

        }
    </script>
}



