@model IEnumerable<SoccerSolutionsApp.Web.ViewModels.Predictions.PredictionsListingViewModel>

@{
    ViewData["Title"] = "All";
}

<h1>All</h1>

<link href="~/css/predictionlisting.css" rel="stylesheet" asp-append-version="true" />


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventKickOff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventHomeTeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventAwayTeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventHomeTeamLogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventAwayTeamLogo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventKickOff)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventHomeTeamName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventAwayTeamName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventHomeTeamLogo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventAwayTeamLogo)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="container">
    @foreach (var item in Model)
    {
        <div class="container">

        <div class="navbar-light bg-light border" style="margin:10px;">
            <a class="navbar-brand" href="#">@item.EventHomeTeamName vs @item.EventAwayTeamName</a>
        </div>
        <div class="" style="overflow: hidden;">
            <div class="">
                <div class="col-sm-3">
                    <div class="float-left">
                        <a href="#">
                            <img alt="@item.EventHomeTeamName" width="75" height="75" src="https://media.api-football.com/teams/40.png" />
                        </a>
                        <p class="text-center" style="font-size: 12px; font-weight: bold;"><a style="color:black;" href="#">Liverpool</a></p>
                    </div>
                    <div class="float-left">
                        <a href="#">
                            <img alt="@item.EventAwayTeamName" width="75" height="75" src="https://media.api-football.com/teams/50.png" />
                        </a>
                        <p class="text-center" style="font-size: 12px; font-weight: bold;"><a style="color:black;" href="#">Man City</a></p>
                    </div>

                </div>
            </div>
            <div class="" style="width: 400px; float: left; font-size: 15px; margin-left: 24px;">
                <div class="">
                    <p>
                        @item.Content<a class="btn btn-info" href="#">Read more</a>
                    </p>
                </div>
            </div>
            <div class="" style="width: 400px; float: left; font-size: 15px; margin-left: 24px;">
                <div class="">
                    <p>
                        Prediction:
                        @item.GamePrediction
                    </p>

                    <a></a>
                </div>
            </div>
            <div>

            </div>
        </div>
    </div>
    }
</div>
