@model IEnumerable<SoccerSolutionsApp.Web.ViewModels.Predictions.PredictionsListingViewModel>

@{
    ViewData["Title"] = "All";
}

<h1>All</h1>

<link href="~/css/predictionlisting.css" rel="stylesheet" asp-append-version="true" />


<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container">
    @foreach (var item in Model)
    {
        <div class="container">

        <div class="navbar-light bg-light border" style="margin:10px;">
            <a class="navbar-brand" href="#">@item.EventHomeTeamName vs @item.EventAwayTeamName</a>
        </div>
        <div class="" style="overflow: hidden;">
            <div class="">
                <div class="col-sm-3">
                    <div class="float-left">
                        <a href="#">
                            <img alt="@item.EventHomeTeamName" width="75" height="75" src="https://media.api-football.com/teams/40.png" />
                        </a>
                        <p class="text-center" style="font-size: 12px; font-weight: bold;"><a style="color:black;" href="#">Liverpool</a></p>
                    </div>
                    <div class="float-left">
                        <a href="#">
                            <img alt="@item.EventAwayTeamName" width="75" height="75" src="https://media.api-football.com/teams/50.png" />
                        </a>
                        <p class="text-center" style="font-size: 12px; font-weight: bold;"><a style="color:black;" href="#">Man City</a></p>
                    </div>

                </div>
            </div>
            <div class="" style="width: 400px; float: left; font-size: 15px; margin-left: 24px;">
                <div class="">
                    <p>
                        @item.Content<a class="btn btn-info" href="#">Read more</a>
                    </p>
                </div>
            </div>
            <div class="" style="width: 400px; float: left; font-size: 15px; margin-left: 24px;">
                <div class="">
                    <p>
                        Prediction:
                        @item.GamePrediction
                    </p>

                    <a></a>
                </div>
            </div>
            <div>

            </div>
        </div>
    </div>
    }
</div>
