@model SoccerSolutionsApp.Web.ViewModels.Predictions.PredictionsListingAndFollowingsViewModel


@{

    ViewData["Title"] = "All";
}

<h1>All</h1>




<p>
    @if (this.User.Identity.IsAuthenticated)
    {
        <a asp-action="Create">Create New</a>
    }

    <a asp-controller="Predictions" asp-action="All" class="btn btn-warning">All</a>
    <a asp-controller="Predictions" asp-action="GetFollowingsPredictions" class="btn btn-warning">Your followings</a>
</p>

<div class="container">
    @foreach (var item in Model.Predictions)
    {
        <div class="container">

            <div class="navbar-light bg-light border">
                <a class="navbar-brand" href="#">@item.Title</a>
                @if (!Model.CurrentUserFollowings.Contains(item.UserUsername))
                {
                    <a class="float-right mr-1"><i id="@item.UserId" onclick="followUser('@item.UserId');" class="fas fa-user-check" style="color:#0026ff">follow</i></a>
                }
                else
                {
                    <a class="float-right mr-1"><i id="@item.UserId" class="fas fa-check-double" style="color:#3fbe08"></i></a>
                }
                <a class="float-right mr-1" asp-area="Identity" asp-controller="User" asp-action="ById" asp-route-userName="@item.UserUsername" style="color:#000000">by @item.UserUsername  </a>
            </div>
            <div class="media mt-1 ">
                <figure>
                    <img class="mr-3" src="@item.FixtureHomeTeamLogo" alt="@item.FixtureHomeTeamName">
                    <figcaption class="figure-caption text-center" style="color:black">@item.FixtureHomeTeamName</figcaption>
                </figure>
                <figure>
                    <img class="mr-3" src="@item.FixtureAwayTeamLogo" alt="@item.FixtureAwayTeamName">
                    <figcaption class="figure-caption text-center" style="color:black">@item.FixtureAwayTeamName</figcaption>
                </figure>
                <div class="media-body text-break">
                    @Html.Raw(item.ShortContent) <a asp-action="ById" asp-route-id="@item.Id" class="btn btn-warning">Read More</a>
                </div>
                <div class="media-body">
                    <p style="margin-bottom:0; float:right;">Prediction:</p>
                    <br />
                    <p style="margin-top:0; float:right;">@item.GamePrediction</p>
                </div>
            </div>
            <hr />
        </div>
    }

</div>

<script>
    function followUser(userToFollowId) {

        $.ajax({
            url: `/Followings/FollowUser/`,
            type: "POST",
            data: {
                'userToFollowId': `${userToFollowId}`
            },


            success: function () {

                let line = "<i onclick=\"unfollowUser('@@item.UserId')\" class=\"fas fa-check-double\" \"style=color:#0026ff>unfollow</i>\";"
                $("#follow").html(line);
                $("#follow").attr("id", "unfollow");
            }

        });
    }

   
</script>
