@model IEnumerable<SoccerSolutionsApp.Web.ViewModels.Predictions.PredictionsListingViewModel>


@{

    ViewData["Title"] = "All";
}

<h1>All</h1>



<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container">
    @foreach (var item in Model)
    {
      

        <div class="container">

            <div class="navbar-light bg-light border">
                <a class="navbar-brand" href="#">@item.Title</a>
                <a id="follow" class="float-right mr-1"><i id="followicon" onclick="followUser('@item.UserId');" class="fas fa-user-check" style="color:#0026ff">follow</i></a>
                <a class="float-right mr-1" asp-area="Identity" asp-controller="User" asp-action="ById" asp-route-userName="@item.UserUsername" style="color:#000000">by @item.UserUsername  </a>
            </div>
            <div class="media mt-1 ">
                <figure>
                    <img class="mr-3" src="@item.FixtureHomeTeamLogo" alt="@item.FixtureHomeTeamName">
                    <figcaption class="figure-caption text-center" style="color:black">@item.FixtureHomeTeamName</figcaption>
                </figure>
                <figure>
                    <img class="mr-3" src="@item.FixtureAwayTeamLogo" alt="@item.FixtureAwayTeamName">
                    <figcaption class="figure-caption text-center" style="color:black">@item.FixtureAwayTeamName</figcaption>
                </figure>
                <div class="media-body text-break">
                    @item.ShortContent <a href="#" class="btn btn-warning">Read More</a>
                </div>
                <div class="media-body">
                    <p style="margin-bottom:0; float:right;">Prediction:</p>
                    <br />
                    <p style="margin-top:0; float:right;">@item.GamePrediction</p>
                </div>
            </div>
            <hr />
        </div>
    }

</div>

<script>
    function followUser(userToFollowId) {
        
        $.ajax({
            url: `/Followings/FollowUser/`,
            type: "POST",
            data: {
                'userToFollowId': `${userToFollowId}`
            },
            

            success: function () {
                
                $("#followicon").removeClass('fas fa-user-check').addClass('fas fa-check-double');
                $("#followicon").css("color", "color:#10e311").text("");
            }
            
        });
    }
</script>
