@model SoccerSolutionsApp.Web.ViewModels.Teams.TeamInfoViewModel


<h6 class="row-cols-3 offset-3">
    @if (Model.CurrentPage < Model.PagesCount)
    {
        <a asp-controller="Teams" asp-action="ListingGamesById" asp-route-teamId="@Model.Id" asp-route-page="@(Model.CurrentPage + 1)" style="float:right; color:#f03d3d">
            <i class="fa fa-chevron-circle-right"></i>
        </a>
    }
    @if (Model.CurrentPage > 1)
    {
        <a asp-controller="Teams" asp-action="ListingGamesById" asp-route-teamId="@Model.Id" asp-route-page="@(Model.CurrentPage - 1)" style="float:right; color:#f03d3d">
            <i class="fa fa-chevron-circle-left"></i>
        </a>
    }

</h6>


<div class="container row-8">

    <div class="row offset-3" style="height:10%">
        <div class="col container" style="background-color:#cac7c7">
            <h4>@Model.Name FC</h4>
            <a asp-action="HomeGames" asp-route-teamId="@Model.Id" class="btn-sm btn-secondary">Home Team</a>
            <a asp-action="AwayGames" asp-route-teamId="@Model.Id" class="btn-sm btn-secondary">Away Team</a>
            @foreach (var item in Model.Leagues)
            {
                <a asp-action="ByLeague" asp-route-teamId="@Model.Id" asp-route-leagueId="@item.Id" class="btn-sm btn-secondary">@item.Name</a>
            }
        </div>
        <table class="table table-sm mt-2">
            <thead></thead>
            <tbody>
                @foreach (var item in Model.PastFixtures)
                {
                    <tr class="d-sm-flex">
                        <th scope="col"></th>
                        <td class="col-1">@item.DayShort</td>
                        <td class="col-1">@item.KickOff.ToString("dd/M/yy", System.Globalization.CultureInfo.InvariantCulture)</td>
                        @if (item.LeagueLeagueShort != null)
                        {
                            <td class="col-1" style="float:right;">@item.LeagueLeagueShort</td>
                        }
                        else
                        {
                            <td class="col-1"></td>
                        }

                        <td class="col-3" style="float:right">
                            @item.HomeTeamName
                        </td>
                        <td class="col-2">
                            @item.FullTimeForView
                        </td>
                        <td class="col-3" style="float:left">
                            @item.AwayTeamName
                        </td>

                    </tr>
                }
                @if (Model.CurrentPage == Model.PagesCount)
                {
                    @if (Model.NextFixtures != null)
                    {

                        @foreach (var item in Model.NextFixtures)
                        {
                            <tr class="d-sm-flex">
                                <th scope="col"></th>
                                <td class="col-1">@item.DayShort</td>
                                <td class="col-1">@item.KickOff.ToString("dd/M/yy", System.Globalization.CultureInfo.InvariantCulture)</td>
                                @if (item.LeagueLeagueShort != null)
                                {
                                    <td class="col-1" style="float:right">@item.LeagueLeagueShort</td>
                                }
                                else
                                {
                                    <td class="col-1"></td>
                                }
                                <td class="col-3" style="float:right">
                                    @item.HomeTeamName
                                </td>
                                <td class="col-2">
                                    PSTP
                                </td>
                                <td class="col-3" style="float:left">
                                    @item.AwayTeamName
                                </td>

                            </tr>
                        }
                    }
                }


            </tbody>
        </table>
    </div>
</div>
